@model FakeECourses.ViewModel.MyCoursesStudentsEditViewcs

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.Id" />
            <div class="form-group">
                <label asp-for="Student.StudentId" class="control-label"></label>
                <input asp-for="Student.StudentId" class="form-control" />
                <span asp-validation-for="Student.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnrollmentDate" class="control-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.AcquiredCredits" class="control-label"></label>
                <input asp-for="Student.AcquiredCredits" class="form-control" />
                <span asp-validation-for="Student.AcquiredCredits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.CurrentSemester" class="control-label"></label>
                <input asp-for="Student.CurrentSemester" class="form-control" />
                <span asp-validation-for="Student.CurrentSemester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EducationLevel" class="control-label"></label>
                <input asp-for="Student.EducationLevel" class="form-control" />
                <span asp-validation-for="Student.EducationLevel" class="text-danger"></span>
            </div>
            <div class ="form-group">
                <label class ="control-label">Courses</label>
                <select asp-for ="SelectedCourses" class="form-control js-example-basic-multiple" asp-items="Model.CoursesList"></select>
                <span asp-validation-for ="SelectedCourses" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src ="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src ="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js">
        </script>
        <script>$(document).ready(function() {$("#SelectedCourses").select2();});</script>
}
